:root {
    --main-bg-color: #F5F6F7;
    --main-content-width: 450px;
    --main-title-color: #03A600;
    --main-btn-color: #04C759;
    --err-msg: #FE2924;
    --pass-msg: #1BAA17;
    --input-area-border-color: #DADADA;
    --input-font-size: 18px;
    --input-height: 35px;
    --interest-background-color: #EFEFEF;
    --interest-border-color: #B7B7B7;
    --interest-font-color: #666666;
    --interest-height: 33px;
    --btn-hover-color: #0BA600;
}

.content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-bg-color);
}

label {
    font-weight: 600;
}

input, select {
    width: 100%;
    height: var(--input-height);
    font-size: var(--input-font-size);
    box-sizing:border-box;
    background-color: white;
    border-color: white;
    border: 0px;
}

select {
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
    background: url('../img/arrow_down.svg') no-repeat 95% 50%;
    background-size: 20px 20px;
}

.wrap_login {
    width: var(--main-content-width);
}

.login_btns {
    height: 100px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.login_form_login_btn, .login_form_sign_up_btn {
    width: 100%;
    height: 45px;
    color: white;
    font-size: 15px;
    background-color: var(--main-btn-color);
    border: 0px;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_form_login_btn:hover, .login_form_sign_up_btn:hover {
    background-color: var(--btn-hover-color);
}

.ul_interests {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: var(--input-font-size);
}

.li_interest {
    float: left;
    padding: 0px 10px;
    min-height: var(--interest-height);
    border: 1px solid var(--interest-border-color);
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    background-color: var(--interest-background-color);
    color: var(--interest-font-color);
    word-break: break-all;
    width: auto;
}

.interest_del_btn {
    margin-left: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid var(--interest-border-color);
    border-radius: 100px;
    outline: none;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    font-size: var(--input-font-size);
    background-color: var(--interest-background-color);
    color: var(--interest-font-color);
}

.input_interest {
    overflow: auto;
}

.interest {
    width: 120px;
    float: left;
}

@keyframes bottom_up {
    from {
        display: none;
        opacity: 0;
        padding-top: 40px;
    }
    to {
        display: flex;
        opacity: 1;
        padding-top: 0px;
    }
}

.wrap_sign_up_modal {
    width: 100%;
    height: 100%;
    z-index: 1;
    position: fixed;
    background-color: rgba(0,0,0,0.4);
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    animation-duration: 0.5s;
    animation-name: bottom_up;
}

.sign_up_content {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 700px;
    overflow-y: overlay;
    width: 550px;
    padding: 30px 0px;
    background-color: var(--main-bg-color);
    border-radius: 4px;
}

.birth_flex {
    display: flex;
    justify-content: space-between;
}

.input_birthday_year, .input_birthday_month, .input_birthday_day {
    width: 27%;
}

.wrap_title {
    display: flex;
    justify-content: center;
}

.title {
    color: var(--main-title-color);
}

.wrap_terms {
    display: flex;
    align-items: center;
}

.terms_agree_string {
    text-decoration-line: underline;
    font-weight: 500;
    cursor: pointer;
}

@keyframes modal_animation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.terms_window {
    display: none;
    /* width: var(--main-content-width); */
    width: 100%;
    position: fixed;
    z-index: 2;
    bottom: 150px;
    animation-duration: 0.5s;
    animation-name: modal_animation;
}

.wrap_terms_window {
    box-sizing: border-box;
    width: 100%;
    height: 250px;
    border: 1px solid black;
    position: relative;
    display: flex;
    align-items: center;
    background-color: var(--main-bg-color);
}

.terms_window_exit_btn {
    position: absolute;
    right: 8px;
    top: 8px;
    cursor: pointer;
}

.terms_window_guide_wrap {
    width: 100%;
    height: 100%;
    padding: 0px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.terms_window_guide_title {
    margin-top: 15px;
    font-size: 17px;
    font-weight: 500;
}

.terms_window_guide_detail {
    overflow-y: scroll;
    width: 380px;
    height: 100px;
    border: 1px solid var(--interest-border-color);
    padding: 15px;
    font-size: 13px;
    background-color: white;
}

.terms_window_agree_btn {
    width: 40%;
    height: 40px;
    background-color: var(--main-btn-color);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px;
    opacity: 0.4;
}

.terms_check {
    width: auto;
}

.wrap_btns {
    display: flex;
    justify-content: space-between;
}

.reset_btn, .sign_up_btn {
    width: 48%;
    height: 70px;
    color: white;
    background-color: var(--main-btn-color);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 18px;
}

.reset_btn:hover, .sign_up_btn:hover {
    background-color: var(--btn-hover-color);
}

.wrap_label_input_msg:not(.wrap_title) {
    margin-top: 10px;
}

.input_area {
    padding: 10px;
    background-color: white;
    border: 1px solid var(--input-area-border-color);
}

.wrap_modal {
    width: 100%;
    height: 100%;
    z-index: 2;
    position: fixed;
    background-color: rgba(0,0,0,0.4);
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    animation: bottom_up 0.5s;
}

.modal_content {
    width: var(--main-content-width);
    height: 200px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: var(--main-bg-color);
}

.modal_string {
    font-weight: 500;
    font-size: 22px;
    line-height: normal;
}

.modal_btns {
    display: flex;
    justify-content: space-between;
    width: 300px;
}

.modal_ok_btn, .modal_cancel_btn {
    width: 130px;
    height: 60px;
    background-color: var(--main-btn-color);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.modal_ok_btn:hover, .modal_cancel_btn:hover {
    background-color: var(--btn-hover-color);
}

.sign_up_modal_exit_btn {
    position: absolute;
    right: 8px;
    top: 8px;
    cursor: pointer;
}

.msg {
    font-size: 13px;
}

.err_msg {
    color: var(--err-msg);
}

.pass_msg {
    color: var(--pass-msg);
}